<div class="alert alert-info" role="alert">
    <h2 class="display-4 text-center"> {{ selected_entry.Title }}
    </h2>
    <h4 class="description text-center"> {{ selected_entry.Description }}
    </h4>
    <hr class="my-4">
    <img src="{{ selected_entry.image }}" class="img-fluid mx-auto d-block" alt="Entry image">
    <hr class="my-4">
    <p class="lead text-center"> {{ selected_entry.text }}
    </p>
    <hr class="my-4">
    <ul class="list-group">
        <div *ngFor="let item of selected_entry.items">
            <li class="list-group-item list-group-item-warning" style="margin-bottom: 1vh;" [innerHTML]="item"></li>
        </div>
    </ul>
    <hr class="my-4">
    <div *ngIf="has_tags">
        <p class="Tags">Tags: {{pretty_tags}} </p>
        <hr class="my-4">
    </div>
    <div *ngIf="has_url">
        <hr class="my-4">
        <p class="Tags">Url: {{selected_entry.url }}</p>
        <hr class="my-4">
    </div>
    <a class="btn btn-info back-btn btn-lg" href="#" role="button">Back</a>
    <a class="btn btn-success copy-btn btn-lg" (click)="copy()" href="#" role="button">Copy</a>

</div>