.alert {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    border-radius: 5%;
}

.copy-btn {
    margin-right: 2vh;
    right: 0;
    float: right;
}

.back-btn {
    margin-left: 2vh;
}

.Tags {
    padding-left: 3vh;
    margin-bottom: -1vh;
    margin-top: -1vh;
}

.Url {
    padding-left: 3vh;
    margin-bottom: -1vh;
    margin-top: -1vh;
}

h2 {
    text-transform: capitalize;
}
