<div class="alert alert-info" role="alert">
    <h1 class="display-4 text-center">This is the title</h1>
    <h4 class="description text-center">the description...</h4>
    <hr class="my-4">
    <img src="assets/images/default.png" class="rounded mx-auto d-block" alt="Entry image">
    <hr class="my-4">
    <p class="lead text-center">This is a simple text unit, a simple jumbotron-style component for calling extra
        attention to
        featured content or information.</p>
    <hr class="my-4">
    <!--centered ul for items-->
    <hr class="my-4">

    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

</div>