.alert{
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
}

.copy-btn{
    right: 0;
    float: right;
}

.Tags{
    padding-left: 3vh;
    margin-bottom: -1vh;
    margin-top: -1vh;
}

.Url{
    padding-left: 3vh;
    margin-bottom: -1vh;
    margin-top: -1vh;
}