<div class="bg">

    <div class="alert alert-secondary custom-alert" role="alert">
        <div class="input-group input-group-lg">
            <input autofocus type="text" class="form-control" aria-label="Large"
                aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>

    <div class="data-container">
        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%" fxLayoutGap="10px" fxLayoutAlign="center center" *ngFor="let p of content">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-primary">
                  <h5 class="card-title">Primary card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>

    </div>
</div>