.bg {
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    /* Full height */
    min-height: 100vh;
    width: 100%;
    position: absolute;
}



.custom-alert {
    margin-top: 5vh;
    margin-left: 4vh;
    margin-right: 4vh;
    margin-bottom: 8vh;
}

.data-container {
    margin-left: 4vh;
    margin-right: 4vh;
    margin-bottom: 4vh;
    border: 2px dotted #a4a4a4;
    border-radius: 40px 40px 40px 40px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.dropdown-toggle {
    margin-top: 1vh;
}

.card-footer {
    cursor: pointer;
}
